body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:rgb(255, 255, 255);
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}


#bg_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg_2x.jpg);
	background-size:300px 250px;
}

#c1_2x {
	left:13px;
	top:94px;
	width:130px;
	height:26px;
	background-image:url(../img/c1_2x.png);
	background-size:130px 26px;
}

#c2_2x {
	left:150px;
	top:94px;
	width:110px;
	height:20px;
	background-image:url(../img/c2_2x.png);
	background-size:110px 20px;
}

#c3_2x {
	left:12px;
	top:131px;
	width:105px;
	height:20px;
	background-image:url(../img/c3_2x.png);
	background-size:105px 20px;
}

#c4_2x {
	left:125px;
	top:125px;
	width:143px;
	height:20px;
	background-image:url(../img/c4_2x.png);
	background-size:143px 20px;
}

#cta10_2x {
	left:99px;
	top:176px;
	width:13px;
	height:8px;
	background-image:url(../img/cta10_2x.png);
	background-size:13px 8px;
}

#cta1_2x {
	left:27px;
	top:173px;
	width:8px;
	height:11px;
	background-image:url(../img/cta1_2x.png);
	background-size:8px 11px;
}

#cta2_2x {
	left:34.5px;
	top:176px;
	width:10px;
	height:8px;
	background-image:url(../img/cta2_2x.png);
	background-size:10px 8px;
}

#cta3_2x {
	left:43.5px;
	top:175.5px;
	width:9px;
	height:12px;
	background-image:url(../img/cta3_2x.png);
	background-size:9px 12px;
}

#cta4_2x {
	left:53px;
	top:172px;
	width:3px;
	height:12px;
	background-image:url(../img/cta4_2x.png);
	background-size:3px 12px;
}

#cta5_2x {
	left:56.5px;
	top:175.5px;
	width:8px;
	height:9px;
	background-image:url(../img/cta5_2x.png);
	background-size:8px 9px;
}

#cta6_2x {
	left:65px;
	top:176px;
	width:5px;
	height:8px;
	background-image:url(../img/cta6_2x.png);
	background-size:5px 8px;
}

#cta7_2x {
	left:70px;
	top:175.5px;
	width:8px;
	height:9px;
	background-image:url(../img/cta7_2x.png);
	background-size:8px 9px;
}

#cta8_2x {
	left:82px;
	top:172px;
	width:8px;
	height:12px;
	background-image:url(../img/cta8_2x.png);
	background-size:8px 12px;
}

#cta9_2x {
	left:90.5px;
	top:175.5px;
	width:9px;
	height:9px;
	background-image:url(../img/cta9_2x.png);
	background-size:9px 9px;
}

#ctaArr_2x {
	left:115px;
	top:174px;
	width:5px;
	height:10px;
	background-image:url(../img/ctaArr_2x.png);
	background-size:5px 10px;
}

#ctaBub_2x {
	left:12px;
	top:167px;
	width:121px;
	height:26px;
	background-image:url(../img/ctaBub_2x.png);
	background-size:121px 26px;
}

#logo_2x {
	left:12px;
	top:22px;
	width:122px;
	height:24px;
	background-image:url(../img/logo_2x.png);
	background-size:122px 24px;
}

#bg {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg.jpg);
	background-size:300px 250px;
	opacity: 0;
}